# Additional ignore files and directories
Thumbs.db
# Logs
logs/
*.log
*.out
# Compiled Python files
*.pyc
*.pyo
__pycache__/
*dSYM/
.vmodules/
.vscode
_docs/
vls.*
vls.log
node_modules/
docs/
vdocs/
photonwrapper.so
x
.env
myexample
myexample2
remote_update_compile_hero
remote_install_v_hero
zdb-data
zdb-index
.idea/
.venv/
.trunk/
.DS_Store
.venv/
dump.rdb
output/
*.db
.stellar
data.ms/
test_basic
cli/hero
.aider*
storage/
.qdrant-initialized
.compile_cache
compile_results.log
tmp
compile_summary.log
.summary_lock
.aider*
*.dylib