#!/usr/bin/env -S v -w -n -enable-globals run

import @{name_snake}_actor

mut actor := @{name_snake}_actor.new(
	@{name_snake}_actor.new_@{name_snake}_example()!,
	@{name_snake}_actor.configuration.example()
)!

actor.run()!